* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border-radius: 6px;
}

@keyframes slide {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}

.acoes {
  position: relative;
  overflow: hidden;
  padding: 10px 0;
  margin: 20px auto;
  background-color: hsl(230, 51%, 40%);
  color: white;
  white-space: nowrap;
  max-width: 54em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.acoes p:hover {
  color: hsl(54, 87%, 44%);
  cursor: pointer;
}

.acoes:before, .acoes:after {
  background: rgba(255, 255, 255, 0), rgb(31, 32, 41);
}

.acoes:hover .acoes-slide {
  animation-play-state: paused;
}

.acoes-slide {
  display: inline-block;
  animation: 35s slide infinite linear;
}

.acoes-slide p {
  height: 50px;
  margin: 0 40px;
  display: inline;
}