/*=============== GOOGLE FONTS ===============*/
@import url("https://fonts.googleapis.com/css2?family=Syne:wght@400;500;600&display=swap");

:root {
  --header-height: 3.5rem;

  --h2-font-size: 1.25rem;
  --normal-font-size: .938rem;

  --font-regular: 400;
  --font-medium: 500;
  --font-semi-bold: 600;

  --z-fixed: 100;
  --z-modal: 1000;
}


@media screen and (min-width: 1023px) {
  :root {
    --h2-font-size: 1.5rem;
    --normal-font-size: 1rem;
  }
}

/*=============== BASE ===============*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body,
input,
button {
  font-family: "Syne", sans-serif;
  font-size: var(--normal-font-size);
}

body {
  background-color: hsl(230, 100%, 98%);
  color: hsl(230, 12%, 40%);
}

input,
button {
  border: none;
  outline: none;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  max-width: 1120px;
  margin-inline: 1.5rem;
}

.container-datas{
  background-color: #eaeaea;
  max-width: 80%;
  height: 49em;
  margin: auto;
  justify-content: center;
}

.main {
  padding-top: calc(7%);
  flex-direction: column; /* Centralizar verticalmente */
  align-items: center; /* Centralizar horizontalmente */
}

.main iframe {
  border: none;
  width: 100%;
  height: 110px;
  display: block; 
  overflow: hidden;
}

@media (max-width: 768px) {
  .container-datas {
      max-width: 100%;
      height: auto;
      padding: 1em;
  }
}


.main-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  z-index: -1;
}

.search,
.login {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: var(--z-modal);
  background-color: hsla(230, 75%, 15%, .1);
  backdrop-filter: blur(24px);
  -webkit-backdrop-filter: blur(24px);
  padding: 8rem 1.5rem 0;
  opacity: 0;
  pointer-events: none;
  transition: opacity .4s;
}

.search-close,
.login-close {
  position: absolute;
  top: 2rem;
  right: 2rem;
  font-size: 1.5rem;
  color: hsl(230, 75%, 15%);
  cursor: pointer;
}

/*=============== HEADER & NAV ===============*/
.header {
  height: 60px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: hsl(230, 100%, 98%);
  box-shadow: 0 2px 16px hsla(230, 75%, 32%, .15);
  z-index: var(--z-fixed);
}

.nav {
  height: var(--header-height);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.nav-item {
  margin-top: -20px;
  margin-right: 10%;
}

.nav-logo {
  color: hsl(230, 75%, 15%);
  font-weight: var(--font-semi-bold);
  transition: color .4s;
  margin-top: -20px;
}

.nav-actions {
  display: flex;
  align-items: center;
  column-gap: 1.5rem;
  margin-top: -20px;
}

.nav-search, 
.nav-login, 
.nav-toggle, 
.nav-close {
  font-size: 1.25rem;
  color: hsl(230, 75%, 15%);
  cursor: pointer;
  transition: color .4s;
}

:is(.nav-logo, .nav-search, .nav-login, .nav-toggle, .nav-link):hover {
  color: hsl(230, 75%, 56%);
}

.nav-login{
  color: #fff;
  background-color: #1f00e5;
  padding: 3px 14px;
  margin: 0px -20px 3px 0px;
  font-size: 1.1em;
  border-radius: 4px;
  text-decoration: none;
}

a:visited {
  color: inherit;
}

/* mobile */
@media screen and (max-width: 1023px) {
  .nav-menu {
    position: fixed;
    top: -100%;
    left: 0;
    background-color: hsl(230, 100%, 98%);
    box-shadow: 0 8px 16px hsla(230, 75%, 32%, .15);
    width: 100%;
    padding-block: 4.5rem 4rem;
    transition: top .4s;
  }
}

.nav-list {
  display: flex;
  flex-direction: column;
  row-gap: 2.5rem;
  text-align: center;
  margin-left: -100%;
}

.nav-link {
  color: hsl(230, 75%, 15%);
  font-weight: var(--font-semi-bold);
  transition: color .4s;
}

.nav-close {
  position: absolute;
  top: 1.15rem;
  right: 1.5rem;
}

.show-menu {
  top: 0;
}

/*=============== SEARCH ===============*/
.search-form {
  display: flex;
  align-items: center;
  column-gap: .5rem;
  background-color: hsl(230, 100%, 97%);
  box-shadow: 0 8px 32px hsla(230, 75%, 15%, .2);
  padding-inline: 1rem;
  border-radius: .5rem;
  transform: translateY(-1rem);
  transition: transform .4s;
}

.search-icon {
  font-size: 1.25rem;
  color: hsl(230, 75%, 15%);
}

.search-input {
  width: 100%;
  padding-block: 1rem;
  background-color: var(--container-color);
  color: hsl(230, 12%, 40%);
}

.search-input::placeholder {
  color: hsl(230, 12%, 40%);
}

.show-search {
  opacity: 1;
  pointer-events: initial;
}

.show-search .search-form {
  transform: translateY(0);
}

/*=============== LOGIN ===============*/
.login-form, 
.login-group {
  display: grid;
}

.login-form {
  background-color: var(--container-color);
  padding: 2rem 1.5rem 2.5rem;
  box-shadow: 0 8px 32px hsla(230, 75%, 15%, .2);
  border-radius: 1rem;
  row-gap: 1.25rem;
  text-align: center;
  transform: translateY(-1rem);
  transition: transform .4s;
  background-color: hsla(0, 0%, 100%, 0.226);
}

.login-title {
  font-size: var(--h2-font-size);
  color: hsl(230, 75%, 15%);
}

.login-group {
  row-gap: 1rem;
}

.login-label {
  display: block;
  text-align: initial;
  color: hsl(230, 75%, 15%);
  font-weight: var(--font-medium);
  margin-bottom: .25rem;
}

.login-input {
  width: 100%;
  background-color: var(--container-color);
  border: 2px solid hsl(230, 25%, 80%);
  padding: 1rem;
  border-radius: .5rem;
  color: hsl(230, 12%, 40%);
}

.login-input::placeholder {
  color: hsl(230, 12%, 40%);
}

.login-signup {
  margin-bottom: .5rem;
}

.login-signup a {
  color: hsl(230, 75%, 56%);
}

.login-forgot {
  display: inline-block;
  color: hsl(230, 75%, 56%);
  margin-bottom: 1.25rem;
}

.login-button {
  display: inline-block;
  background-color: hsl(230, 75%, 56%);
  width: 100%;
  color: #fff;
  font-weight: var(--font-semi-bold);
  padding: 1rem;
  border-radius: .5rem;
  cursor: pointer;
  transition: box-shadow .4s;
}

.login-button:hover {
  box-shadow: 0 4px 24px hsla(230, 75%, 40%, .4);
}

.show-login {
  opacity: 1;
  pointer-events: initial;
}

.show-login .login-form {
  transform: translateY(0);
}

/*=============== BREAKPOINTS ===============*/
@media screen and (min-width: 576px) {
  .search,
  .login {
    padding-top: 10rem;
  }

  .search-form {
    max-width: 450px;
    margin-inline: auto;
  }

  .search-close,
  .login-close {
    width: max-content;
    top: 5rem;
    left: 0;
    right: 0;
    margin-inline: auto;
    font-size: 2rem;
  }

  .login-form {
    max-width: 400px;
    margin-inline: auto;
  }
}

/* bigger screens */
@media screen and (min-width: 1023px) {
  .nav {
    height: calc(var(--header-height) + 2rem);
    column-gap: 3rem;
  }
  .nav-close, 
  .nav-toggle {
    display: none;
  }
  .nav-menu {
    margin-left: auto;
  }
  .nav-list {
    flex-direction: row;
    column-gap: 3rem;
  }

  .login-form {
    padding: 3rem 2rem 3.5rem;
  }
}

@media screen and (min-width: 1150px) {
  .container {
    margin-inline: auto;
  }
}

/*= IFRAMEs =*/

#iframeCarousel {
  border: none;
  width: calc(100%);
  height: 110px;
  display: block; 
  overflow: hidden;
}
#iframeCard {
  border: none;
  width: calc(100%);
  height: 430px;
  display: block; 
  overflow: hidden;
  margin-left: 30px;
}

/*FOOTER*/



footer{
  font-family: 'Segoe UI';
  font-weight: 400;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.footer{
  padding: 20px 0;
  background-color: hsl(230, 51%, 40%);;
}

.footer .social{
  text-align: center;
  padding-bottom: 25px;
  color: #ffffff;
}

.footer .social a{
  font-size: 24px;
  color: inherit;
  border: 1px solid #ffffff93;
  width: 40px;
  height: 40px;
  line-height: 38px;
  display: inline-block;
  text-align: center;
  border-radius: 50%;
  margin: 0 8px;
  opacity: 0.75;
}

.footer .social a:hover{
  opacity: 0.9;
}

.footer ul{
  margin-top: 0;
  padding: 0;
  list-style: none;
  font-size: 18px;
  line-height: 1.6;
  margin-bottom: 0;
  text-align: center;
}

.footer ul a{
  color: white;
  text-decoration: none;
  opacity: 0.8;
}

.footer ul li{
  display: inline-block;
  padding: 0 15px;
}

.footer ul li a:hover{
  opacity: 1;
}

.footer .copyright{
  margin-top: 15px;
  text-align: center;
  font-size: 13px;
  color: #ffffff;
}



