/* Estilo para o corpo */
body {
    font-family: Helvetica, Arial, sans-serif; /* Fonte Helvetica */
    margin: 20px;
    background-color: #f5f5f5;
    color: #333;
}

/* Estilo para o título */
h1 {
    background-color: #32439a; /* Azul mais claro */
    color: white;
    padding: 10px 15px;
    border-radius: 5px;
    margin-bottom: 20px;
    text-align: center;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    font-size: 1.5em; /* Fonte do título menor */
    font-family: Helvetica, Arial, sans-serif; /* Fonte Helvetica */
}

/* Estilo para as linhas com indicadores */
.indicator-row {
    display: flex;
    justify-content: space-between;
    padding: 12px;
    border-radius: 5px;
    background-color: #fff; /* Cor de fundo padrão */
    margin-bottom: 10px;
    font-family: Helvetica, Arial, sans-serif; /* Fonte Helvetica */
}

/* Cor para as linhas alternadas */
.indicator-row:nth-child(even) {
    background-color: #f2f2f2; /* Cor de fundo para linhas pares */
}

/* Cor para o ticker (primeiro item) */
.indicator-row span:first-child {
    color: #32439a; /* Cor azul para os tickers */
    font-weight: bold;
}

/* Estilo para os outros spans */
.indicator-row span {
    font-weight: normal;
    margin-right: 10px;
    font-size: 1em;
}

/* Ajustando o último span para não ter margem à direita */
.indicator-row span:last-child {
    margin-right: 0;
}
