:root {
  --bg-color: #f7f3f3;
  --main-color: #32439a;
  --sub-color: #111111;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-family: Helvetica;
}

body {
  height: 100vh;
  overflow: hidden;
}

/* HEADER */

header {
  width: 100%;
  height: 10%;
  background-color: var(--bg-color);
  display: flex;
  align-items: center;
  justify-content: space-around;
}

header nav ul {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
}

header nav ul li {
  background-color: var(--main-color);
  width: 100px;
  height: 30px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 1;
  color: #fff;
  cursor: pointer;
  transition: 0.5s;
}

header nav ul li:hover {
  opacity: 0.5;
}

.nav-button button {
  width: 150px;
  height: 50px;
  background-color: var(--main-color);
  border: none;
  border-radius: 5px;
  text-transform: uppercase;
  font-weight: bold;
  color: #fff;
  cursor: pointer;
  transition: 0.5s;
  opacity: 1;
}

.nav-button button:hover {
  opacity: 0.5;
}

/* MAIN CONTENT */

main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80%;
  width: 100%;
}


main iframe {
  border: none;
  overflow: hidden;
  height: 80%;
}

/* FOOTER */


footer{
  font-weight: 400;
  height: 10%;
  width: 100%;
  background-color: #32439a;
  color: #FFF;

  display: flex;
  align-items: center;
  justify-content: center;
}

footer section {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 5px;
}

footer section ul {
  display: flex;
  gap: 15px;
}

footer section ul li p {
  color: #FFF;
  transition: 0.5s;
}

footer section ul li p:hover {
  color: #BBB;
}

/* RESPONSIVIDADE */