:root {
    --bg-color: #f7f3f3;
    --main-color: #32439a;
    --sub-color: #111111;
  }

* {
    margin: 0;
    padding: 0;
    font-family: Helvetica;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--bg-color);
}

.register-container {
    height: 600px;
    width: 400px;
    padding: 40px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.register-container h2 {
    text-align: center;
    margin-bottom: 15px;
    font-size: 30px;
    color: var(--sub-color);
}

.register-container .line {
    width: 40%;
    height: 2px;
    background-color: var(--sub-color);
    margin-bottom: 30px;
  }

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-inputs {
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-bottom: 40px;
}

.form-box {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.form-box label {
    text-transform: uppercase;
    font-weight: bold;
    color: var(--sub-color);
}

.form-box input {
    width: 300px;
    height: 40px;
    padding: 7px;
    border-radius: 8px;
    border: none;
    outline: none;
    color: var(--sub-color);
    font-weight: 700;
    border-bottom: 1px solid var(--sub-color);
}

.form-button {
    margin-bottom: 30px;
}
  
.form-button button {
    width: 200px;
    height: 50px;
    background-color: var(--main-color);
    color: var(--bg-color);
    font-weight: bold;
    font-size: 20px;
    text-align: center;
    text-transform: uppercase;
    border: none;
    cursor: pointer;
    border-radius: 8px;
    opacity: 1;
    transition: 0.5s;
}

.form-button button:hover {
    opacity: 0.5;
}

span {
    color: var(--sub-color);
  }
  
span a {
    color: var(--main-color);
  }