<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

    <div>
            <h1>Adicionar ACAO</h1>
            <br><br><br>
    </div>

    <div>
        <form action="/acoes/adicionar" method="post">
            <label>Código da Ação</label>
            <input type="text" name="codigo" maxlength="6"><br>

            <label>Quantidade de ações</label>
            <input type="number" name="qtde" maxlength="10"><br>

            <label>Preço Médio</label>
            <input type="text" name="precomedio" maxlength="10"><br>

            <button type="submit">Cadastrar Ação</button>
        </form>

    </div>

</body>
</html>