<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/adicionaracao.css')}}">
</head>
<body>

    <h1>Adicionar Ação</h1>

    <form action="/acoes/adicionar" method="post">
        <div class="form-control">
            <label>Código da Ação</label>
            <input type="text" name="codigo" maxlength="6"><br>
        </div>

        <div class="form-control">
            <label>Quantidade de ações</label>
            <input type="number" name="qtde" maxlength="10"><br>
        </div>

        <div class="form-control">
            <label>Preço Médio</label>
            <input type="text" name="precomedio" maxlength="10"><br>
        </div>

        <button type="submit">Cadastrar Ação</button>
    </form>

</body>
</html>