<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/card.css">
    <title>Document</title>
</head>
<body>
    <div class="card-container">
        <div class="card-img">
            <img class="round" src="../static/Imagens/perfil.jpg" width="100%">
        </div>
        <h3>nathan</h3>
        <h6>paraiba</h6>
        <p>investor <br> wallet</p>
        <div class="buttons">
            <button class="btn1">importar</button><!--CASO ELE JA TENHA IMPORTADO UMA CARTEIRA ELE PODE IMPORTAR OUTRA E SUBISTITUIR A ANTIGA-->
            <button class="btn2"><a href="index.html">carteira</a></button><!--CASO JA TENHA IMPORTAR ELE MOSTRA A CARTEIRA, CASO NAO ELE EMITE UM ALERTA PARA IMPORTAR-->
        </div>
    </div>
    
</body>
</html>