<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/data.css') }}">
    <title>Document</title>
</head>
<body>
    <div class="content">
        <div class="carousel">
            {% include "carousel.html" %}
          </div>
          <div class="container">
              <div class="acoes-dados">
                {% include "cardActions.html" %}
              </div>
          </div>
        
      </div>

    
</body>
</html>