<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../static/css/filtragem.css">
</head>
<body>
<div>
        <h1>Ações filtradas por métodos fundamentalistas</h1>
        <p>Foram utilizadas uma série de filtros fundamentalistas para excluir empresas
        que não possuem boa resiliência para o investimento de longo prazo. Utilizou-se também
            o método de Gordon para sugerir empresas em melhor situação de compra usando o retorno
            ao acionista por meio do pagamento de proventos.
        </p>
    <br>
        <div>
            {{ table | safe }}
        </div>
    </div>

</body>
</html>