<!DOCTYPE html>
<html lang="pt-BR" dir="ltr">
	<head>
		<meta charset="UTF-8">
		<link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Home</title>
	</head>

	<body>
		<header>
			<div class="menu-container">
		
				<h1>IA Finance</h1>
	
				<div class="nav-button">
					<button class="login-button" id="login-button">Fazer Login</button>
				</div>
			</div>
			<nav>
				<ul class="nav-list"> 
					<a href="/" class="nav-logo">
						<li class="nav-item">
							<p>Home</p>
						</li>
					</a>
					
					<a id="action-button" >
						<li class="nav-item">
							<p>Ações</p>
						</li>
					</a>
				
					<a href="#" class="nav-link">
						<li class="nav-item">
							<p>Fundos</p>
						</li>
					</a>

					<a href="/carteira" class="nav-link">
						<li class="nav-item">
							<p>Análise</p>
						</li>
					</a>

					<a href="/rankingdividendos/all" class="nav-link">
						<li class="nav-item">
							<p>Dividendos</p>
						</li>
					</a>
				</ul>
			</nav>
		</header>

		<!--==================== LOGIN ====================-->
		<div class="login hidden" id="login-container">
			<div class="login-main">
				<div class="login-close">
					<img id="login-close" src="..//static//Imagens//fechar.png" height="20px" width="20px">
				</div>
				<form action="/verificarlogin" class="login-form" method="post">
					<h2 class="login-title">Login</h2>
					<div class="form-line"></div>
					<div class="form-inputs">
						<div class="form-box">
							<label for="username" class="login-label">E-mail:</label>
							<input type="text" placeholder="Digite seu email" id="username" name="username" required>
						</div>
		
						<div class="form-box">
							<label for="password" class="login-label">Senha:</label>
							<input type="password" placeholder="Digite sua senha" id="password" name="password" required>
						</div>
					</div>
					<div class="form-button"> 
						<button type="submit" class="login-button">Login</button>
					</div>
					<span>Não é cadastrado? <a id="cadastrar-link" href="/registernewuser">cadastre-se</a></span>
				</form>
			</div>
		</div>

		<!--==================== MAIN ====================-->
		<main>
			<div id="okok" class="content">
				<iframe id="iframe-carousel" name="carousel" src="/gerariframeprincipal"></iframe>
				<iframe id="iframe-card" name="card" src="/gerariframecard"></iframe>
				<iframe class="hidden" id="iframe-main" src="" frameborder="0"></iframe>
			</div>
		</main>

		<footer>
			<section class="footer">
				<ul>
					<li>
						<a href="#"><p>Home</p></a>
					</li>
					<li>
						<a href="#"><p>Services</p></a>
					</li>
					<li>
						<a href="#"><p>About</p></a>
					</li>
					<li>
						<a href="#"><p>Terms</p></a>
					</li>
					<li>
						<a href="#"><p>Privacy Policy</p></a>
					</li>
				</ul>
				<p class="copyright">
					Rene e alunos @ 2024
				</p>
			</section>
		</footer>


		<script src="../static/js/home.js"></script>

	</body>
</html>