<!DOCTYPE html>

<html lang="pt-BR" dir="ltr">

<head>
	<meta charset="UTF-8">

	<link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Home</title>
</head>

<body>
	<header>
		<nav>
			<ul class="nav-list"> 

				<a href="/" class="nav-logo">
					<li class="nav-item">
						<p>Home</p>
					</li>
				</a>
				
				<a href="/rankingacoes/all" >
					<li class="nav-item">
						<p>Ações</p>
					</li>
				</a>
			
				<a href="#" class="nav-link">
					<li class="nav-item">
						<p>Fundos</p>
					</li>
				</a>

				<a href="/carteira" class="nav-link">
					<li class="nav-item">
						<p>Análise</p>
					</li>
				</a>

				<a href="/rankingdividendos/all" class="nav-link">
					<li class="nav-item">
						<p>Dividendos</p>
					</li>
				</a>

			</ul>
			<div class="nav-button">
				<button class="login-btn" id="login-btn">Fazer Login</button>
			</div>
		</nav>

	<!--==================== LOGIN ====================-->
	<div class="login" id="login">
		<form action="/verificarlogin" class="login-form" method="post">

			<h2 class="login-title">Log In</h2>

			<div class="login-group">
				<div>
					<label for="username" class="login-label">Email</label>
					<input type="email" placeholder="Digite seu e-mail" id="username" name="username" class="login-input" required>
				</div>

				<div>
					<label for="password" class="login-label">Password</label>
					<input type="password" placeholder="Digite sua senha" id="password" name="password" class="login-input" required>
				</div>
			</div>

			<div>
				<p class="login-signup">
					Você já tem uma conta? <a href="cadastro">Cadastre-se</a>
            		<a>{{msg_erro}}</a>
				</p>

				<button type="submit" class="login-button">Log In</button>
			</div>

			<div class="login-close">
				<img id="login-close" src="..//static//Imagens//fechar.png" height="20px" width="20px">
			</div>
		</form>
	</div>

	<!--==================== MAIN ====================-->
	<div class="container-datas">
		<main id="okok" class="main">
			<iframe id="iframeCarousel" name="carousel" src="{{url_for('gerariframeprincipal')}}"></iframe>
			<iframe id="iframeCard" name="card" src="{{url_for('gerariframecard')}}"></iframe>
		</main>
	</div>

	<footer>
		<section class="footer">
			<ul class="list">
				<li>
					<a href="#">Home</a>
				</li>
				<li>
					<a href="#">Services</a>
				</li>
				<li>
					<a href="#">About</a>
				</li>
				<li>
					<a href="#">Terms</a>
				</li>
				<li>
					<a href="#">Privacy Policy</a>
				</li>
			</ul>
			<p class="copyright">
				TCC @ 2024
			</p>
		</section>
	</footer>


	<script src="../static/js/home.js"></script>

</body>



</html>