<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Indicadores e Ferramentas de Análise</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/iframelogado.css') }}">
</head>
<body>

    <h1 style="text-align:center; color:#32439a;">Ferramentas de Análise da Carteira</h1>

    <div class="grid-container">
        <div class="card">
            <h3>Gerar rentabilidade da sua carteira</h3>
            <p>Calcule a rentabilidade total da sua carteira de investimentos ao longo do tempo.</p>
            <a href="/logado/rentabilidadecarteira">Acessar</a>
        </div>

        <div class="card">
            <h3>Gerar gráfico do Risco/retorno da sua carteira</h3>
            <p>Visualize o gráfico de risco e retorno da sua carteira para análise rápida.</p>
            <a href="/logado/riscoretorno">Acessar</a>
        </div>

        <div class="card">
            <h3>Gerar clustering de ações</h3>
            <p>Crie agrupamentos de ações com base na volatilidade e risco x retorno.</p>
            <a href="/riscoretorno/clustering">Acessar</a>
        </div>

        <div class="card">
            <h3>Atualizar filtragem de ações</h3>
            <p>Atualize as filtragens das ações e recalcule os indicadores de risco.</p>
            <a href="/riscoretorno/updateCsv">Acessar</a>
        </div>

        <div class="card">
            <h3>Indicadores Risco e Retorno</h3>
            <p>Veja os indicadores de risco e retorno da sua carteira de ações.</p>
            <a href="/riscoretorno/indicadoresriscoretorno">Acessar</a>
        </div>

        <div class="card">
            <h3>Correlação das ações da carteira</h3>
            <p>Verifique a correlação entre as ações da sua carteira e indicadores macroeconômicos.</p>
            <a href="/logado/correlacaoindicadoresmacro">Acessar</a>
        </div>

        <div class="card">
            <h3>Gerar carteira ideal</h3>
            <p>Crie uma carteira de investimentos ideal com base nas suas necessidades.</p>
            <a href="/logado/configurarag">Acessar</a>
        </div>
    </div>

</body>
</html>
