<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

    <p>
        <a href="/logado/rentabilidadecarteira/{{login}}">Gerar rentabilidade da sua carteira</a>
    </p>
    <p>
        <a href="/logado/riscoretorno/{{login}}">Gerar gráfico do Risco/retorno da sua carteira</a>
    </p>
    <p>
        <a href="/riscoretorno/clustering">Gerar clustering de ações com base na volatilidade e risco x retorno</a>
    </p>
    <p>
        <a href="/riscoretorno/updateCsv">Atualizar filtragem de ações e cálculo dos indicadores</a>
    </p>
    <p>
        <a href="/riscoretorno/indicadoresriscoretorno">Indicadores Risco e Retorno da minha carteira</a>
    </p>
    <p>
        <a href="/logado/correlacaoindicadoresmacro">Correlação das ações da carteira com alguns indicadores macroeconomicos</a>
    </p>
    <p>
        <a href="/logado/configurarag">Gerar carteira ideal</a>
    </p>

</body>
</html>