<!DOCTYPE html>

<html lang="en" dir="ltr">

<head>
	<meta charset="UTF-8">

	<link rel="stylesheet" href="{{ url_for('static', filename='css/logado.css') }}">
	<link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/remixicon/3.5.0/remixicon.css">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
		integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A=="
		crossorigin="anonymous" referrerpolicy="no-referrer" />
	<link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
	<header class="header" id="header">
		<nav class="nav container">


			<div class="nav-menu" id="nav-menu">
				<ul class="nav-list">
					<li class="nav-item dropdown">
						<a href="/retornar" class="nav-logo">HOME</a>
					</li>

					<li class="nav-item">
						<a href="/rankingacoes/all" class="nav-link" target="_blank">Ações</a>
					</li>

					<li class="nav-item">
						<a href="#" class="nav-link" target="_blank">Fundos</a>
					</li>

					<li class="nav-item">
						<a href="#" class="nav-link" target="_blank">Ativos</a>
					</li>
					<li class="nav-item">
						<a href="/rankingdividendos/all" class="nav-link" target="_blank">Dividendos</a>
					</li>
				</ul>
					
				<div class="nav-close" id="nav-close">
					<i class="ri-close-line"></i>
				</div>
			</div>
			<!--==========================================================CRIAR BOTAO REDIRECT PRA PAGINA VERIFICAR LOGIN==============-->
			<div class="nav-actions">

				<div class="nav-actions">

					<div class="home-content">

						<span class="text"></span>
						<div class="profile">
							<img class="photo-profile" src="../static/Imagens/perfil.jpg" alt="perfil">
						</div>
					</div>

					<div id="submenu" class="submenu">
						<div class="card-container">
							<div class="card-img">
								<img class="round" id="profileImg" src="../static/Imagens/perfil.jpg" width="100%">
								<input type="file" id="fileInput" style="display: none;">
							</div>

							<h3>{{name}}</h3>
							<h6>{{state}}</h6>
							<p>{{profession}}</p>
							<div class="buttons">
								<button id="import" class="btn1"><a
										href="#">importar</a></button><!--CASO ELE JA TENHA IMPORTADO UMA CARTEIRA ELE PODE IMPORTAR OUTRA E SUBISTITUIR A ANTIGA-->
								<button id="wallet" class="btn2"><a
										href="/carteira">carteira</a></button><!--CASO JA TENHA IMPORTAR ELE MOSTRA A CARTEIRA, CASO NAO ELE EMITE UM ALERTA PARA IMPORTAR-->
							</div>
						</div>
					</div>

					<div class="nav-toggle" id="nav-toggle">
						<i class="ri-menu-line"></i>
					</div>
				</div>
				<!--clica na palavra enter redireciona pra pagina login, clica apenas no background abre o menu de login-->
				<div class="nav-toggle" id="nav-toggle">
					<i class="ri-menu-line"></i>
				</div>
			</div>
		</nav>
	</header>

	<!--==================== MAIN ====================-->
	<div class="container-datas">
		<main id="okok" class="main">
			<iframe id="iframeCarousel" name="carousel" src="{{url_for('gerariframeprincipal')}}"></iframe>
			<iframe id="iframeCard" name="card" src="{{url_for('gerariframecard')}}"></iframe>
		</main>
	</div>

	<footer>
		<section class="footer">

			<ul class="list">
				<li>
					<a href="#">Home</a>
				</li>
				<li>
					<a href="#">Services</a>
				</li>
				<li>
					<a href="#">About</a>
				</li>
				<li>
					<a href="#">Terms</a>
				</li>
				<li>
					<a href="#">Privacy Policy</a>
				</li>
			</ul>
			<p class="copyright">
				TCC @ 2024
			</p>
		</section>
	</footer>

	<script src="../static/js/logado.js"></script>


</body>

</html>