<!DOCTYPE html>

<html lang="pt-BR" dir="ltr">

<head>
	<meta charset="UTF-8">


	<link rel="stylesheet" href="{{ url_for('static', filename='css/minhaCarteira.css')}}">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Home</title>
</head>

<body>
	<header>
		<nav>
			<ul class="nav-list">

				<a href="#" class="nav-logo" onclick="enviariframe('/acoes/gerarminhacarteira')">
					<li class="nav-item">
						<p>Carteira</p>
					</li>
				</a>

				<a href="#" onclick="enviariframe('/acoes/paginas/adicionar')">
					<li class="nav-item">
						<p>Adicionar</p>
					</li>
				</a>

				<a href="#" class="nav-link" onclick="enviariframe('/acoes/paginas/atualizar')">
					<li class="nav-item">
						<p>Atualizar</p>
					</li>
				</a>

				<a href="#" class="nav-link" onclick="enviariframe('/acoes/paginas/excluir')">
					<li class="nav-item">
						<p>Excluir</p>
					</li>
				</a>

				<a href="#" class="nav-link" onclick="enviariframe('/acoes/dividendospagos')">
					<li class="nav-item">
						<p>Dividendos</p>
					</li>
				</a>

			</ul>
		</nav>
		<div>
			<a href="/mainpage">
				<p>Voltar</p>
			</a>
		</div>
	</header>


	<!--==================== MAIN ====================-->
	<main class="main">
		<iframe id="meuiframe" name="card" src="{{url_for('acoes.gerarminhacarteira')}}" frameborder="0"></iframe>
	</main>


	<!--==================== FOOTER ====================-->
	<footer>
		<section class="footer">
			<ul>
				<li>
					<a href="#"><p>Home</p></a>
				</li>
				<li>
					<a href="#"><p>Services</p></a>
				</li>
				<li>
					<a href="#"><p>About</p></a>
				</li>
				<li>
					<a href="#"><p>Terms</p></a>
				</li>
				<li>
					<a href="#"><p>Privacy Policy</p></a>
				</li>
			</ul>
			<p class="copyright">
				Rene e alunos @ 2024
			</p>
		</section>
	</footer>

	<script src="../static/js/minhacarteira.js"></script>
</body>



</html>