<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Ranking Dividendos</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

</head>
<body>
    <H1>Ranking Dividendos</H1>
    <h2>O gráfico abaixo traz o ranking de dividendos das ações listadas na bolsa brasileira há
        pelo menos 10 anos.
    </h2>
    <div style="display: flex">
        <form action="/rankingdividendos/minhas" method="get">
            <button type="submit" >Minhas Ações</button>
        </form>
        <form action="/rankingdividendos/all" method="get">
            <button type="submit" >Todas as Ações</button>
        </form>

    </div>

    {{ plot|safe }}

</body>
</html>
