<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
  <link rel="stylesheet" href="../static/css/carousel.css">
</head>
<body>
    
    <div class="acoes">
        <div class="acoes-slide">
          <p>acao 1</p>
          <p>acao 2</p>
          <p>acao 3</p>
          <p>acao 4</p>
          <p>acao 5</p>
          <p>acao 6</p>
          <p>acao 7</p>
          <p>acao 8</p>
          <p>acao 9</p>
          <p>acao 10</p>
          <p>acao 11</p>
          <p>acao 12</p>
          <p>acao 13</p>
          <p>acao 14</p>
          <p>acao 15</p>
          <p>acao 16</p>
        </div>
      </div>
    
    <script src="../static/js/carousel.js"></script>
</body>
</html>
